#sublimesubtitlediv {
        color: white;
	font-size: 28px;
	position: absolute;
	bottom: 20px;
	left: 0px;
	right: 0px;
	width: 95%;
	margin: auto;
	text-align: center;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        font-family: font-family: 'Open Sans', sans-serif;
        font-weight: bold;
	z-index: 9999;
	pointer-events: none;
}

#sublimemessagediv {
        color: white;
	font-size: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        font-family: font-family: 'Open Sans', sans-serif;
        font-weight: bold;
	z-index: 9999;
	pointer-events: none;
}

#sublimevideodiv {
	position: absolute;
	z-index: 9999;
	pointer-events: none;
}


